.body__info {
    width: 1200px;
    margin: 0 auto;
}

.text--info {
    display: block;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 12px;
}

.text--body__main {
    text-align: center !important;
}

.body__img {
    max-width: 1024px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    padding: 12px 0px 24px 0px;
}

/* Responsive */

@media screen and (max-width: 1200px) {
    .body__info {
        width: 95%;
        padding: 0 20px;
    }

    .body__img {
        max-width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .text--info {
        font-size: 14px;
    }

    .text--body__main {
        font-size: 26px !important;
        line-height: initial;
    }

    .body__img {
        max-width: 100%;
        padding: 20px;
    }
}

/* End Responsive */