* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full-container {
    width: 100%;
}

body {
    background-color: #f4f6f8;
    color: #333333;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

ol, ul {
    list-style: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.header--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 0px;
}

.logo {
    display: flex;
    margin: 5px 0 5px;
}

.logo--text {
    position: relative;
    padding: 14px 0px;
    padding-left: 10px;
}
@media (max-width: 840px){
    .navbar{display: none;}
    .logo{
        align-items: center;
        margin: auto;
    }
    .logo--text {
        font-size: 15px;
    }
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.navbar__item {
    position: relative;
    padding-right: 40px;
}

.navbar__item-link {
    font-size: 24px;
    padding-bottom: 10px;
}

.sub--navbar__list {
    display: none;
    position: absolute;
    border-radius: 6px;
    width: 160px;
    box-shadow: 0px 0px 7px 0px rgb(8 88 157 / 20%);
    background-color: #fff;
    top: 100%;
    margin: 0;
    margin-top: 8px;
    padding: 4px 0px;
    z-index: 999;
}

.sub--navbar__item {
    display: block;
    font-size: 16px;
    padding: 8px 12px;
}

.navbar__item:hover ul {
    display: block;
}

.footer {
    background-color: #fff;
    min-height: 160px;

}

.footer--content {
    max-width: 1200px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}

.connect {
    display: flex;
    padding: 2px 0px;
}

.footer__contact, .footer__connect{
    margin: 10px;
}

.text--body__main {
    margin: 10px 0px 10px 30px;
    line-height: 40px;
    padding: 12px 0px;
    color: #003056;
    font-size: 30px !important;
}

.body--header {
    width: 1200px;
    margin: 0 auto;
}