* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full-container {
    width: 100%;
}

body {    
    background-color: #f4f6f8;
    color: #333333;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

ol, ul {
    list-style: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.header--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px 0px;
}

.logo {
    display: flex;
    margin: 5px 0 5px;
}

.logo--text {
    position: relative;
    padding: 22px 0px;
    padding-left: 10px;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.navbar__item {
    position: relative;
    padding-right: 40px;
}

.navbar__item-link {
    font-size: 24px;
    padding-bottom: 10px;
}

.sub--navbar__list {
    display: none;
    position: absolute;
    border-radius: 6px;
    width: 160px;
    box-shadow: 0px 0px 7px 0px rgb(8 88 157 / 20%);
    background-color: #fff;
    top: 100%;
    margin: 0;
    margin-top: 8px;
    padding: 4px 0px;
    z-index: 2;
}

.sub--navbar__item {
    display: block;
    font-size: 16px;
    padding: 8px 12px;
}

.navbar__item:hover ul {
    display: block;
}

.breadcrumbs-section {
    font-size: 14px;
    line-height: 44px;
    width: 100%;
}

.footer {
    background-color: #fff;
    min-height: 160px;

}

.footer--content {
    max-width: 1200px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:auto;
}

.connect {
    display: flex;
    padding: 2px 0px;
}

.footer__contact, .footer__connect{
    margin: 10px;
}

.text--body__main {
    margin: 10px 0px;
    line-height: 40px;
    padding: 12px 0px;
    padding-left: 30px;
    color: #003056;
    font-size: 30px !important;
}

.body--header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/* Navbar mobile and Responsive*/

.nav__mobile--btn {
    position: absolute;
    font-size: 60px;
    color: #333333;
    right: 4vh;
    top: 28px;
    display: none;
}

.nav__overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.nav__mobile {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 3;
    border-radius: 24px 0px 0px 24px;
    transition: all ease 0.3s;
    opacity: 0;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

.navbar__mobile--list {
    margin-top: 40px;
}

.navbar__mobile--item-link {
    font-size: 28px;
    color: #003056;
    display: block;
    padding: 10px 20px;
}

.sub--navbar__mobile--item {
    font-size: 20px;
    color: #333333;
    display: block;
    padding: 6px 32px;
}

.nav__mobile--close {
    font-size: 40px;
    position: fixed;
    top: 40px;
    right: 44px;
    bottom: 0;
}

@media (max-width: 1200px) {
    .body--header {
        width: 100%;
        padding: 0 20px;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .header--menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__mobile--btn {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

    .logo {
        margin-left: 12px;
    }

    .footer {
        height: auto;
        padding: 20px 0;
        background-color: #fff;
        border: #0c0c0c;
    }
    .footer--content{
        align-items:center;
        text-align: center;
        width: 100%;
        padding: 0px 15px;
    }
    .footer--content>div{
        margin: 0px 0px 40px;
        width: 40% 30% 30%;
    }
    .footer h2, .footer h3 {
        font-size: 18px;
    }

}

@media (max-width: 768px) {
    .body--header {
        width: 100%;
        padding: 0 10px;
    }

    .header--menu {
        padding: 10px 0;
    }

    .breadcrumbs-section {
        width: 100%;
        padding: 10px;
    }

    .footer {
        height: auto;
        padding: 20px 0;
        background-color: #fff;
        border: #0c0c0c;
    }
    .footer--content {
        flex-direction: column;
        align-items:center;
        text-align: center;
        width: 100%;
        padding: 0px 15px;
    }
    .footer--content>div{
        margin: 0px 0px 40px;
    }
}

/* End Navbar mobile & responsive */