.all{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1000px;
}

.all .main{
    
   
    width: 100%;
    
    display: flex;
    
    margin-bottom: 60px;
}
input{
    display: none;
}
label{
    display: none;
}
.rightbar{
    width: 80%;
    margin: auto;
}

.contentnew__content__posts__article{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contentnew__content__posts__article__main a{
    display: flex;
    width: 60%;
    height: 200px;
    margin: 20px auto;
    border-bottom: 2px solid black;
}
.contentnew__content__posts__article__main a img{
    width: 200px;
    object-fit: cover;
}
.contentnew__content__posts__article__main a p{
    font-size: 20px;
    margin-left: 20px;
}

@media (max-width:1230px){
    .rightbar h1{
        width: 100%;
        margin: 0 !important;
        font-size: 25px;
    }
    .contentnew__content__posts__article__main a{
        display: flex;
        width: 100%;
        height: 100px;
        margin: 20px auto;
    }
    .contentnew__content__posts__article__main a img{
        width: 100px;
        object-fit: cover;
    }
    .contentnew__content__posts__article__main a p{
        font-size: 15px;
        margin-left: 20px;
    }
}